.Debug {
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translate3d(0, -50%, 0);
  border-radius: var(--border-radius-m);
  background-color: color-mix(
    in srgb,
    var(--color-primary) 100%,
    var(--color-secondary) 10%
  );
  padding: var(--spacer-s);
}

.Infos {
  display: none;
}

.Infos.Open {
  display: block;
}
