.Wave {
  max-width: fit-content;
  overflow: hidden;
  background-color: color-mix(
    in srgb,
    var(--color-primary) 100%,
    var(--color-secondary) 5%
  );
  border-radius: var(--border-radius-m);
  padding: var(--spacer-m);
  display: grid;
  grid-template-rows: auto 0fr;
}

.Wave.Expanded {
  grid-template-rows: auto 1fr;
  gap: var(--spacer-s);
}
.Wave > * {
  min-height: 0;
}

.Wave input[type="range"]::-webkit-slider-thumb {
  background-color: var(--color-primary);
}

.Wave input[type="range"]::-moz-range-thumb {
  background-color: var(--color-primary);
}
