.Wave {
  max-width: fit-content;
}

.Wave.Expanded {
  background-color: rgba(var(--color-secondary), var(--button-opacity));
  border-radius: var(--border-radius-m);
  padding: var(--spacer-m);

  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
}

.Wave input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(var(--color-primary));
}

.Wave input[type="range"]::-moz-range-thumb {
  background-color: rgb(var(--color-primary));
}
