*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: clamp(14px, 1.2vw, 24px);
}

body {
  margin: 0;
  min-width: 280px;
  font-family: var(--font-family-a);
  letter-spacing: -0.02em;
  line-height: 1.1;
  padding: var(--spacer-m);
  color: var(--color-secondary);
  background-color: hsl(from var(--color-primary) h s l);
}

#root {
  text-align: center;
  display: contents;
}

* {
  font-weight: 300;
}

h1 {
  font-size: var(--font-size-l);
  font-family: var(--font-family-b);
}

.f-a {
  font-family: var(--font-family-a);
}

.f-b {
  font-family: var(--font-family-b);
}

button {
  border-radius: var(--button-border-radius);
  color: var(--color-secondary);
  border: var(--border-width) solid transparent;
  padding: 0.35em 1.5em;
  text-transform: lowercase;
  font-size: var(--font-size-s);
  font-family: inherit;
  background-color: hsl(
    from var(--color-secondary) h s l / var(--button-opacity)
  );
  cursor: pointer;
  position: relative;
  transition: border-color var(--animation-fast);
}

button:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 1em 0;
  height: var(--border-width);
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-secondary);
  height: var(--border-width);
}

input[type="range"]::-moz-range-track {
  background: var(--color-secondary);
  height: var(--border-width);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc(var(--thumb-size) * -0.5);
  border-radius: 100vh;
  background-color: var(--color-primary);
  border: var(--border-width) solid var(--color-secondary);
  height: var(--thumb-size);
  width: var(--thumb-size);
}

input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  appearance: none;
  background-color: var(--color-primary);
  height: var(--thumb-size);
  width: var(--thumb-size);
  border: var(--border-width) solid var(--color-secondary);
  border-radius: 100vh;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
label:hover {
  cursor: pointer;
}

label:has(> input[type="checkbox"])::after,
label:has(> input[type="radio"])::before {
  content: "";
  display: inline-block;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: var(--button-border-radius);
  background-color: var(--color-primary);
  border: var(--border-width) solid var(--color-secondary);
}
label:has(> input[type="checkbox"]:checked)::after,
label:has(> input[type="radio"]:checked)::before {
  background-color: var(--color-accent);
}

hr {
  border: none;
  border-top: var(--border-width) dashed var(--color-secondary);
}
