:root {
  --color-primary: 15, 14, 18;
  --color-primary: 229, 229, 229;
  --color-secondary: 229, 229, 229;
  --color-secondary: 15, 14, 18;
  --color-accent: 240, 90, 36;
  --button-opacity: 0.05;
  --button-border-radius: 100vh;
  --font-family-a: "Haskoy";
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;

  color-scheme: light dark;
  color: rgb(var(--color-secondary));
  background-color: rgb(var(--color-primary));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family-a);
  letter-spacing: -0.02em;
  line-height: 1.1;
}

button {
  border-radius: var(--button-border-radius);
  color: var(--color-secondary);
  border: 1px solid transparent;
  padding: 0.35em 1.5em;
  text-transform: lowercase;
  font-size: var(--font-size-s);
  font-family: inherit;
  background-color: rgba(var(--color-secondary), var(--button-opacity));
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  text-decoration: underline;
}
