:root {
  --color-black: rgb(15, 14, 18);
  --color-white: rgb(229, 229, 229);
  --color-orange: rgb(240, 90, 36);

  --border-radius-s: 0.3rem;
  --border-radius-m: 0.5rem;
  --border-width: 1px;
  --button-opacity: 0.05;
  --opacity-full: 0.5;

  --button-border-radius: 100vh;

  --font-family-a: "Haskoy";
  --font-family-b: "DotGothic16";
  --font-size-xs: 0.65rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 2.5rem;

  --spacer-s: 0.25rem;
  --spacer-m: 0.5rem;
  --spacer-l: 0.75rem;

  --animation-fast: 0.25s;

  --checkbox-size: 1rem;
  --thumb-size: 0.75rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --color-primary: var(--color-white);
  --color-secondary: var(--color-black);
  --color-accent: var(--color-orange);
}

[data-theme="dark"] {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-accent: var(--color-orange);
}

[data-theme="mono"] {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-accent: var(--color-white);
}
