:root {
  --border-radius-s: 0.3rem;
  --border-radius-m: 0.5rem;
  --border-width: 1px;
  --button-opacity: 0.05;
  --opacity-full: 0.5;

  --button-border-radius: 100vh;

  --font-family-a: "Haskoy";
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 2.5rem;

  --spacer-s: 0.25rem;
  --spacer-m: 0.5rem;
  --spacer-l: 0.75rem;

  --animation-fast: 0.25s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --color-primary: rgb(229, 229, 229);
  --color-secondary: rgb(15, 14, 18);
  --color-accent: rgb(240, 90, 36);
}

[data-theme="dark"] {
  --color-primary: rgb(15, 14, 18);
  --color-secondary: rgb(229, 229, 229);
  --color-accent: rgb(240, 90, 36);
}

[data-theme="mono"] {
  --color-primary: rgb(15, 14, 18);
  --color-secondary: rgb(229, 229, 229);
  --color-accent: rgb(229, 229, 229);
}
